html,
body {
   padding: 0px;
   margin: 0px;
   background-color: #4b2818;
   font-family: 'Quicksand', sans-serif;

   background-image: url('public_assets/bg3.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   font-weight: 700;
}

.container {
   min-height: 100vh;
   width: 100vw;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

/* NAVBAR STYLING */

.navbar {
   margin-top: -30px;
   font-family: 'Quicksand', sans-serif;
   list-style-type: none;
}

.main-navbar li {
   font-weight: 500;
   background-color: #281006;
   padding: 8px 12px;
   border-radius: 9px;
}

.navbar ul.nav-tabs {
   display: flex;
   list-style-type: none;
   padding: 0;
   background-color: #f8f9fa;
   border: 1px solid #e9ecef;
   border-radius: 5px;
   overflow: hidden;
}

.navbar ul.nav-tabs li {
   flex: 1;
   text-align: center;
   padding: 5px 15px;
   transition: background-color 0.3s, color 0.3s;
}

.navbar ul.nav-tabs li a {
   text-decoration: none;
   color: #333;
   transition: color 0.3s;
   padding: 10px 15px;
}

.navbar ul.nav-tabs li a:hover {
   background-color: #e9ecef;
   color: #000;
}

a {
   color: white;
   text-decoration: none;
}

/* Content styling */

#member1, #member2 {
   color: white;
}

/* FOOTER STYLING */

footer {

   display: flex;
   align-items: center;
   justify-content: center;
   
   color: white;
   font-weight: bold;
   padding-bottom: 10px;
}